<div class="row">
  <div class="col">
    <form (ngSubmit)="onSubmit(f)" #f="ngForm">
      <div class="row">
        <div class="col-sm-5 form-group">
          <label for="name">Name</label>
          <input
           type="text" 
           id="name" 
           class="form-control"
           name="name"
           ngModel
           required>
        </div>
        <div class="col-sm-2 form-group">
          <label for="amount">Amount</label>
          <input
           type="number" 
           id="amount" 
           class="form-control"
           name="amount"
           ngModel
           required
           pattern="^[1-9]+[0-9]*$">
        </div>
        <!-- [pattern]="'^[1-9]+[0-9]*$'" works too, but since we're binding to string we can omit the square brackets and the single quotation marks to use the short-cut of using property binding when binding to strings; with this we're saying that the number in the amount filed can be any positive number greater than 0 -->
      </div>
      <div class="row">
        <div class="col">
          <!-- <button class="btn btn-success" type="submit" [disabled]="!f.valid">Add <i class="fa fa-plus"></i></button> -->
          <button
           class="btn btn-success" 
           type="submit" 
           [disabled]="!f.valid">
           {{ editMode ? 'Update' : 'Add' }}
          </button>
          <button
           class="btn btn-danger" 
           type="button" 
           (click)="onDelete()"
           *ngIf="editMode">
           <!-- we're showing the Delete button only in editMode -->
           Delete <i class="fa fa-times"></i>
          </button>
          <button
           class="btn btn-primary" 
           type="button" 
           (click)="onClear()">
           Clear <i class="fa fa-eraser"></i>
          </button>
        </div>
      </div>
    </form>
  </div>
</div>